
.vs/BlazeBuy/CopilotIndices/17.12.38.29086/

.vs/BlazeBuy/DesignTimeBuild/

.vs/BlazeBuy/FileContentIndex/

.vs/BlazeBuy/v17/

.vs/ProjectEvaluation/

src/obj/

src/tests/BlazeBuy.Tests/obj/

src/bin/Debug/net9.0/

src/tests/BlazeBuy.Tests/bin/Debug/net9.0/cs/

src/tests/BlazeBuy.Tests/bin/Debug/net9.0/de/

src/tests/BlazeBuy.Tests/bin/Debug/net9.0/es/

src/tests/BlazeBuy.Tests/bin/Debug/net9.0/fr/

src/tests/BlazeBuy.Tests/bin/Debug/net9.0/ko/

src/tests/BlazeBuy.Tests/bin/Debug/net9.0/

.vs/BlazeBuy/config/

src/Data/Migrations/
